* {
   box-sizing: border-box;
}

/* Colors */
:root {
   --color1: #557a95;
   --color2: #7395ae;
   --color3: #464549;
   --color4: #379683;
   --color5: #b1a296;
}
body {
   background-color: var(--color1);
}
header, a {
   color: var(--color5);
}
p {
   color: var(--color3);
}
select {
   color: var(--color3);
   background-color: var(--color2);
}
button {
   color: var(--color3);
   background-color: var(--color4);
}
.snippet-view, .editor-data {
   color: var(--color3);
   background-color: var(--color2);
}

/* Elements */
html, body {
   height: 100%;
}
body {
   margin: 0;
   display: flex;
   flex-direction: column;
}
header h1 {
   text-align: center;
   margin: 5px 0px;
}
main {
   flex: 1 1 0;
   display: flex;
}
p, select, button, textarea {
   margin: 0px 4px 8px 8px;
}
p, div, textarea {
   font-size: small;
}
canvas {
   position: absolute;
}

/* Classes */
.column {
   flex: 1 1 0;
   display: flex;
   flex-direction: column;
   /* border: 1px solid darkred; */
   overflow: hidden; /* Needed so the child .editor-data can be scrolled. */
}
.snippet-selector p {
   display: inline;
}
.snippet-view {
   height: 120px;
}
.editor-container {
   flex: 1 1 0;
   margin: 0px 8px 0px 4px;
   /* border: 1px solid blue; */
}
.editor-data {
   flex: 1 1 0;
   margin: 8px 8px 8px 4px;
   overflow: auto;
   /* border: 1px solid darkgrey; */
}

